@import "../../variables.scss";

.captioned-image-list__item:not(:last-child) {
  margin: 30px 0;

  @media (min-width: $md) {
    margin: 0;
  }
}

.captioned-image-list__item {
  display: flex;
  align-items: center;

  .captioned-image-list__index-container {
    display: none;

    @media (min-width: $md) {
      flex-direction: column;
      align-items: center;
      margin-right: 30px;
      display: flex;
    }

    @media (min-width: $lg) {
      margin-right: 65px;
    }
  }

  .captioned-image-list__index {
    display: none;

    @media (min-width: $md) {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #a3a3a3;
      border-radius: 50%;
      min-width: 52px;
      height: 52px;
    }
  }

  .captioned-image-list__top-line,
  .captioned-image-list__bottom-line {
    height: 86px;
    background: #a3a3a3;
    width: 1px;
    display: block;
  }

  &:first-child {
    align-items: flex-start;

    .captioned-image-list__top-line {
      display: none;
    }

    .captioned-image-list__img {
      margin-top: -45px;
    }
  }

  &:last-child {
    align-items: flex-end;

    .captioned-image-list__bottom-line {
      display: none;
    }

    .captioned-image-list__img {
      margin-bottom: -23px;
    }
  }
}
