@import "../../variables.scss";

.captioned-image {
  display: flex;
  align-items: center;

  .captioned-image__header {
    font-size: 22px;
    margin: 0 0 $xsPadding;
    color: #000;
  }

  .captioned-image__img-container svg {
    width: 60px;
    margin-right: 30px;
  }
}
