@import "../../variables.scss";

.section {
  padding: 25px $xsPadding;

  @media (min-width: $sm) {
    padding: 50px $xsPadding;
  }

  &.section--small-padding {
    padding: 12.5px $xsPadding;

    @media (min-width: $sm) {
      padding: 25px $xsPadding;
    }
  }

  h2.section-header {
    font-weight: 200;
    font-size: 40px;
    line-height: 55px;
    font-weight: normal;
    margin: 0 0 40px;
  }

  div.section-content {
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    color: $sectionCaptionColor;
    line-height: 27px;
  }

  h2.section-header,
  div.section-content {
    font-family: $font;
  }

  &.section--centered {
    text-align: center;
  }

  @media (min-width: $md) {
    padding: 100px $smPadding;

    &.section--text {
      display: flex;

      .section-header,
      .section-content {
        flex: 1;
      }
    }
  }

  @media (min-width: $lg) {
    padding: 100px $lgPadding;
  }
}
