@import "../../variables.scss";

.footer {
  background: url("../../assets/footer.png");
  padding: 50px $xsPadding;
}

.footer__header {
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-icon {
  margin: 0 10px;
}
