@import "./variables.scss";

.App {
  font-family: $font;

  .app__content {
    max-width: $maxWidth;
    margin: 0 auto;
  }

  .how-it-works {
    .app-section__purple-ovals {
      display: none;
    }

    .app-section__how-it-works-section .section-content {
      margin-top: 100px;
    }

    @media (min-width: $md) {
      display: flex;

      .app-section__purple-ovals {
        display: block;
        max-width: 550px;
      }

      .app-section__how-it-works-section,
      .app-section__purple-ovals {
        flex: 1;
      }

      .app-section__how-it-works-section .section-content {
        margin-top: 125px;
      }
    }
  }

  .app__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    .app__header-punks {
      order: 2;
      margin-top: $lgPadding;
    }

    .app__header-content {
      order: 1;
    }

    @media (min-width: $sm) {
      padding-left: $xsPadding;
      display: flex;
      align-items: center;
      flex-direction: row;

      .app__header-punks {
        order: 1;
        flex: 1;
        width: 45%;
        max-width: 600px;
      }

      .app__header-content {
        order: 2;
        width: 55%;
      }
    }

    @media (min-width: $md) {
      padding-left: $smPadding;

      .app__header-punks {
        width: 40%;
      }

      .app__header-content {
        flex: 1;
        margin-left: 30px;
      }
    }

    @media (min-width: $lg) {
      padding-left: $lgPadding;

      .app__header-content {
        flex: 1;
        margin-left: 50px;
      }
    }
  }

  .app__punks-image {
    width: 100%;

    @media (min-width: $sm) {
      display: none;
    }
  }

  .app__punks-image-lg {
    display: none;

    @media (min-width: $sm) {
      display: block;
    }
  }

  .app__header-content {
    padding: $xsPadding;

    h1.app__header {
      font-size: 48px;
      font-weight: 300;
      margin-top: 50px;

      @media (min-width: $md) {
        font-size: 75px;
      }
    }

    span.app__header-purple {
      background: url("./assets/purple-background.svg");
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .app__caption {
      font-weight: 100;
      font-size: 18px;
      color: $sectionCaptionColor;

      @media (min-width: $md) {
        font-size: 20px;
      }
    }
  }

  .defi-apps .section-header {
    @media (min-width: $md) {
      max-width: 655px;
      text-align: center;
      margin: 0 auto;
    }
  }

  .app__defi-apps {
    display: flex;
    justify-content: center;

    @media (min-width: $md) {
      margin-top: 50px;
    }
  }

  .app__defi-apps svg {
    max-width: 100%;
  }

  .app__defi-apps-logo-lg {
    display: none;

    @media (min-width: $md) {
      display: block;
      max-width: 100%;
    }
  }

  .app__defi-apps-logo-xs {
    @media (min-width: $md) {
      display: none;
    }
  }

  .app-punks-section {
    margin-top: 80px;
  }
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix"),
    url("./assets/fonts/Hellix-Regular.woff") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix"),
    url("./assets/fonts/Hellix-Medium.woff") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix"),
    url("./assets/fonts/Hellix-SemiBold.woff") format("truetype");
  font-weight: 300;
}
