@import "./variables.scss";

.App {
  font-family: $font;

  .app__header-content {
    padding: $xsPadding;

    h1.app__header {
      font-size: 48px;
      font-weight: 300;
      margin-top: 50px;
    }

    span.app__header-purple {
      color: $purple;
    }

    .app__caption {
      font-weight: 100;
      font-size: 18px;
      color: $sectionCaptionColor;
    }
  }

  .app__defi-apps svg {
    max-width: 100%;
  }

  .app-punks-section {
    margin-top: 80px;
  }

  .app__punks-image {
    width: 100%;

    @media (min-width: $sm) {
      display: none;
    }
  }
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix"),
    url("./assets/fonts/Hellix-Regular.woff") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix"),
    url("./assets/fonts/Hellix-Medium.woff") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix"),
    url("./assets/fonts/Hellix-SemiBold.woff") format("truetype");
  font-weight: 300;
}
